<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <header></header>
    <aside></aside>
    <main>
        <section class="vh-100" style="background-color: lightcyan;">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                  <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                      <div class="col-md-6 col-lg-5 d-none d-md-block">
                        <img src="https://img3.wallspic.com/previews/4/2/3/5/7/175324/175324-water-poco_m3_pro_5g-xiaomi-body_of_water-landscape-x750.jpg"
                          alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                      </div>
                      <div class="col-md-6 col-lg-7 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">
          
                          <form onsubmit="register()">
          
                            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register new Account</h5>
          
                            <div class="form-outline mb-4">
                              <input type="text" id="newUsername" class="form-control form-control-lg" />
                              <label class="form-label" for="newUsername">Username</label>
                            </div>

                            <div class="form-outline mb-4">
                              <input type="newEmail" id="newEmail" class="form-control form-control-lg" />
                              <label class="form-label" for="newEmail">Email</label>
                            </div>
          
                            <div class="form-outline mb-4">
                              <input type="password" id="newPassword" class="form-control form-control-lg" />
                              <label class="form-label" for="newPassword">Password</label>
                            </div>
          
                            <div class="form-outline mb-4">
                              <input type="password" id="newPasswordCheck" class="form-control form-control-lg" />
                              <label class="form-label" for="newPasswordCheck">Check Password</label>
                            </div>
          
                            <div class="pt-1 mb-4">
                              <input type="submit" class="btn btn-dark btn-lg btn-block" value="Register">
                            </div>
          
                            <a href="#!" class="small text-muted">Terms of use.</a>
                            <a href="#!" class="small text-muted">Privacy policy</a>
                          </form>
          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>         
    </main>
    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/static/scripts/script.js"></script>
</body>
</html>