.container{
    width: 70%;
    background-color: bisque;
    padding: 2rem;
    border-radius: 12px;
    margin-top: 2rem;
}

.header{
    background-color: yellowgreen;
    padding: 1rem;
    text-align: center;
    margin-bottom: .5rem;
}
