//fontes
$fonte: 'Poppins', sans-serif;

//cores
$cor-cinza-claro: #D9D9D9;
$cor-cinza-escuro: #393E41;
$cor-primaria: #C1F7DC;
$cor-secundaria: #337761;
$cor-terciaria: #1F2C29;
$cor-destaque: #FCA311;