//fontes
$fonte: 'Roboto', sans-serif;

//cores
$cor-cinza-claro: #9C9C9C;
$cor-cinza-escuro: #393E41;
$cor-primaria: #C1F7DC;
$cor-secundaria: #337761;
$cor-terciaria: #1F2C29;
$cor-destaque: #FCA311;